form {

    margin: 0 auto;
    width: 40%;
    height: 100vh;
    display:  flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

input{
    padding: 10px;
    border-radius: 10px;
    background-color: none;
    outline: none;
    border: none;
    border: 1px gray solid;
}